.buscador{
    padding-bottom: 10px;
}

.listaResult ul{

    list-style-type: none;
    padding: 0;
    
    
}
.resultado{
    display:flex ;
    padding: 10px 0;
    position: relative;
    

}



/* Ajustar el tamaño de los iconos */
.iconos svg {
    width: 20px; /* Ajusta este valor según tu preferencia */
    height: auto; /* Para mantener la proporción */
  }
  
  /* Organizar los iconos en filas */
  .iconos {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Espacio entre los iconos */
  .iconos svg {
    margin-right: 5px; /* Ajusta este valor según tu preferencia */
    margin-bottom: 5px; /* Ajusta este valor según tu preferencia */
  }
  

  .contenido {
    display: flex;
    align-items: center; /* Esto alineará verticalmente los elementos hijos al centro */
}