/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* Import Bootstrap Icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');


:root {
    --background-color: #1e1e1e;
    --light-background: #2e2e2e;
    --primary-color: #fff;
    --secondary-color: #696868;
    --primary-font: 'Roboto Mono', monospace;
    --gap-s: 12px;
    --gap: 24px;
    --gap-xl: 48px;
    --border-radius: 16px;
    --transition: all 0.3s ease-in-out;
}

html {
    font-size: 70%;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
}


body {
    margin: 1%;
    display: grid;
    gap: var(--gap-xl);
}



header {
    margin-bottom: 20px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            outline: none;
            padding: 3px 2rem 3px 2rem;
            font-size: 1rem;
            border: none;
            border-radius: var(--border-radius);
        }

    }
}


.resulBuscador {
    overflow-y: auto;
    padding-right: 0%;
}


.resultado {
    display: flex;
    gap: var(--gap-s);
    align-items: right;


    img {
        max-width: 128px;
        border-radius: var(--border-radius);
    }
}


.listaResult ul {

    list-style-type: none;
    padding: 0;



}

.resultado {
    display: flex;
    padding: 10px 0;
    position: relative;


}

.iconos {
    display: flex;
    width: 60px;
    height: 60px;
    padding-left: 20px;
    position: absolute;
    right: 1120px;
    top: -09px;
    gap: 10px;

}

.bi-person-circle::before {
  content: "\f4d7";
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons!important;
  font-style: normal;
  font-weight: 400!important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Login */

.loginForm {
    display: grid;
    min-height: 100vh;
    place-content: center;
    gap: var(--gap);
  
    #logout {
      cursor: pointer;
    }
  
    a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 2rem;
      text-align: center;
    }
  
    button {
      outline: none;
      padding: 12px 4rem 12px 4rem;
      font-size: 2rem;
      border: none;
      border-radius: var(--border-radius);
      background-color: var(--light-background);
      color: var(--primary-color);
    }
  }
  
  .input-icon {
    position: relative;
  
    input {
      outline: none;
      padding: 12px 4rem 12px 4rem;
      font-size: 2rem;
      border: none;
      border-radius: var(--border-radius);
    }
  
    i {
      position: absolute;
      z-index: 1;
      color: var(--background-color);
      font-size: 2.4rem;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
  }
  

